.logo {
  font-family: 'Bungee', sans-serif;
 }

 nav {
  display: flex;
  justify-content: space-between;
  height: 120px;
  width: 100%;
  background-color: darkgoldenrod;
  background-image: url("https://www.transparenttextures.com/patterns/black-scales.png");
  color: #FFFFFF;
  padding: 1.5em;
  position: fixed;
  z-index: 1;
 }

 nav .new-tweet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: large;
 }

 .fa-angles-down {
  margin: auto;
  color: #FF0000;
  position: relative;
  animation: move 1.7s infinite;
  animation-timing-function: linear;
  
}

@keyframes move {
  from {top: 0px;}
  to {top: 3px;}
}

@media only screen and (min-width : 1024px) {
  nav {
    background-color: #4056A1;
  }
}